
# Virtual Environment
venv/
*.pyc

# Django
__pycache__/
*.sqlite3
*.pyc
*.pyo
*.pyc

# Ignore IDE specific files
.vscode/
*.sublime-project
*.sublime-workspace

#boostrap files
/bootstrap-5.3.0-alpha1-dist/
